.DS_Store
.idea/
.sync
settings.jar
node_modules/
dist/
log/
npm-debug.log
src/components/test/
*.iml
*.yml.json
scaffold.log
content/*.xml

InstructX/.idea/
InstructX/node_modules/

!server/database/const.yml.json
!db_account_info.yml.json
